<% @title="Amazon - #{@book.title}"%>
<h1> <%= @book.title %>
  <% @book.rating.times do %>
   *
   <% end %> </h1>
   <h3> By <%= @book.author.name %> </h3>
<%= image_tag @book.image_url, :alt => 'Picture of Book' %>
<%= link_to "Add to favourites", new_favourite_book_user_path %>
<p> This book has been viewed <%= @book.counter %> times. </p>
